.pagination-counter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 74px;
  height: 24px;
  width: 250px;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .pagination-counter-container {
    width: 74px;
    height: 24px;
    width: 350px;
    align-self: center;
  }
}

.pagination-counter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 16px;
  height: 16px;
  color: #475569;
  border: 0.75px solid #475569;
  box-sizing: border-box;
  border-radius: 2.25px;
}

@media screen and (min-width: 768px) {
  .pagination-counter-button {
    width: 18px;
    height: 18px;
  }
}

.pagination-count {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.button {
  height: 30px;
  width: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  border-radius: 50%;
  border: none;
  margin: 0;
  background-color: blue;
  cursor: pointer;
  outline: none;
  margin: 6px;
}

@media screen and (min-width: 768px) {
  .button {
    height: 40px;
    width: 40px;
    font-size: 16px;
    line-height: 24px;
  }
}

.active {
  background-color: gray;
}
